<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>LogInValidation</display-name>
	<welcome-file-list>
		<welcome-file>HomePage.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet-mapping>
		<servlet-name>PreLoginServlet</servlet-name>
		<url-pattern>/PreLoginServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PreLoginServlet</servlet-name>
		<servlet-class>com.bridgelabs.PreLoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.bridgelabs.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>

<servlet>
		<servlet-name>PreRegisterServlet</servlet-name>
		<servlet-class>com.bridgelabs.PreRegisterServlet</servlet-class>
	</servlet>
<servlet-mapping>
		<servlet-name>PreRegisterServlet</servlet-name>
		<url-pattern>/PreRegister</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>RegistrationServlet</servlet-name>
		<servlet-class>com.bridgelabs.RegistrationServlet</servlet-class>
	</servlet>
	
	

	<servlet-mapping>
		<servlet-name>RegistrationServlet</servlet-name>
		<url-pattern>/RegistrationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FetchDataServlet</servlet-name>
		<servlet-class>com.bridgelabs.FetchDataServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>FetchDataServlet</servlet-name>
		<url-pattern>/FetchDataServlet</url-pattern>
	</servlet-mapping>

</web-app>
